* {
    margin:0;
    padding: 0;
    box-sizing: border-box;   
    overflow-x: hidden;
    overflow-y: hidden;
}

.bedroom {
        position: absolute; 
        top: 0px; 
        left: 0px; 
        width: 100%; 
        height: 100%; 
        cursor:help; 
    }


.alternate2 {
        position: absolute; 
        top: 30%; 
        left: 2%; 
        width: 26.5%; 
        height: 16.5%; 
        cursor:help; 
        rotate:1deg;
        animation-name: jumpscare;
        animation-duration: 0.1s;
        animation-delay: 20s;
        animation-iteration-count: 1;
        opacity: 0%;
        animation-fill-mode:forwards;
    }

.suspect2 {
    position: absolute; 
    top: 29.8%; 
    left: 2%; 
    width: 26.5%; 
    height: 17%; 
    cursor:help; 
    rotate: 0.5deg;
    animation-name: adarsh;
    animation-duration: 0.1s;
    animation-delay: 15s;
    animation-iteration-count: 1;
    opacity: 0%;
    animation-fill-mode:forwards;
    border: none;

}  


.alternate-2-2 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch;
    animation-duration: 0.1s;
    animation-delay: 25.5s;
    opacity: 0%;
}

.glitch1 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch1;
    animation-duration: 0.1s;
    animation-delay: 26s;
    opacity: 0%;
    animation-iteration-count: 8;

}

.glitch2 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch2;
    animation-duration: 0.1s;
    animation-delay: 26.5s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch3 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch3;
    animation-duration: 0.1s;
    animation-delay: 27s;
    opacity: 0%;
    animation-iteration-count: 8;

}

.glitch4 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch4;
    animation-duration: 0.1s;
    animation-delay: 27.5s;
    opacity: 0%;
    animation-iteration-count: 8;

}

.glitch5 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch5;
    animation-duration: 0.1s;
    animation-delay: 28s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch6 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch6;
    animation-duration: 0.1s;
    animation-delay: 28.5s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch7 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch7;
    animation-duration: 0.1s;
    animation-delay: 29s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch8 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch8;
    animation-duration: 0.1s;
    animation-delay: 29.5s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch9 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch9;
    animation-duration: 0.1s;
    animation-delay: 30s;
    opacity: 0%;
    animation-iteration-count: 8;
}

.glitch10 {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    cursor: help; 
    animation-name: glitch10;
    animation-duration: 0.1s;
    animation-delay: 30.5s;
    opacity: 0%;
    animation-iteration-count: 2;
}


.text1 {
    display: flex;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 30%;
    left: 47.5%;
    animation-name: text1;
    animation-delay: 2s;
    animation-duration: 2s;
    font-family: MODENINE;
    font-size: 15pt;
    opacity: 0%;
    animation-fill-mode:forwards;
}

.text1:hover {
    color: rgb(126, 2, 2);
}

@keyframes text1 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  
}

@keyframes adarsh {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  
}


@keyframes jumpscare {
    0% {
        opacity: 0%;
        scale: 100%;
    }
    100% {
        opacity: 100%;
        scale: 100%;     
    }
}

@keyframes glitch {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

@keyframes glitch1 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

@keyframes glitch2 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch3 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch4 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch5 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch6 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch7 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch8 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch9 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes glitch10 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
